:root {
    --color-one: black;
    --color-two: white;
    --border-color: white;
    /*Fonts*/
    --font-button: 'Roboto', sans-serif;
    --font-text: 'Nunito', sans-serif;
    --font-header: 'Poppins', sans-serif;

}

/*Global*/
body {
    background-color: var(--color-one);
    color: var(--color-two);
}
button {
    cursor: pointer;
    background-color: var(--color-one);
    color: var(--color-two);
    border: 3px solid var(--border-color);
    transition: 0.35s;
}
button:hover {
    background-color: var(--color-two);
    color: var(--color-one);
}

/*Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 15px;
}
#bgithub {
    border-radius: 10px;
    width: 142px;
    font-family: var(--font-button);
}

/*Section*/
section {
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bgenerator {
    font-family: var(--font-button);
    font-size: 20px;
    height: 64px;
    width: 320px;
    border-radius: 10px;
}

#paragraphGenerator {
    padding-top: 10px;
    font-family: var(--font-text)
}